.headtag {
  text-align: center;
  margin: 50px auto 50px auto;
  width: 80%
}

p {
  font-size: 1.5em;
}

.create-trip-btn {
  border: none;
  background-color: #dcffd6;
  border-radius: 12px;
  padding: 15px;
  margin-top: 7px;
  margin-bottom: 25px;
  font-weight: bold;
  color: #4d4d4d;
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out;
}

.create-trip-btn:hover {
  opacity: 1;
  cursor: pointer;
}