.registration-page {
  margin-top: 30px;
}

.registration-form {
  margin-top: 50px;
  background: #3b3b3b;
  opacity: 0.9;
  padding: 20px 0 30px 0;
}

.Button {
  margin-top: 40px;
  border: none;
  border-radius: 12px;
  background-color: #dcffd6;
  margin: 40px 30px 0;
  padding: 15px;
  font-weight: bold;
  color: #3b3b3b;
}

.Button:hover {
  cursor: pointer;
  color: #6e1414;
}

@media only screen and (min-width: 630px) {

  .registration-form {
    width: 70%;
    margin: 50px auto 0 auto;
  }
}

@media only screen and (min-width: 1100px) {

  .registration-form {
    width: 50%;
    margin: 50px auto 0 auto;
  }
}