.plans-container {
  margin-top: 30px;
}

.back-chev-plans {
  color: #dcffd6;
  font-size: 3em;
  margin-bottom: 20px;
}

.plans-head {
  font-size: 2em;
}

.create-plans-btn {
  background-color: #e6aeae;
  border: none;
  border-radius: 50%;
  padding: 0px 18px 7px 18px;
  color: #dcffd6;
  font-size: 3em;
  margin-bottom: 20px;
  opacity: 0.75;
  transition: opacity 0.3s ease-in-out;
}

.create-plans-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.display-plans {
  color: #3b3b3b;
  list-style: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
}

.plan-list {
  word-wrap: break-word;
  margin: 0 auto 12px auto;
}

.display-plans > .plan-list:nth-child(even) {
  background: #dcffd6;
  border-radius: 5px;
}
.display-plans > .plan-list:nth-child(odd) {
  background: #ffffff;
  border-radius: 5px;
}

.dates {
  background: #3b3b3b;
  color: #ffffff;
  padding: 8px;
}

.location {
  font-size: 1.5em;
  padding: 8px;
  font-weight: bold;
}

.notes {
  padding: 8px;
  margin-bottom: 20px;
}

.icon {
  font-size: 1.5em;
  margin: 0 60px 10px 60px;
  color: #e6aeae;
}

.icon:hover {
  cursor: pointer;
  color: #6e1414;
}